<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554310136699-6gajjvc85vroda88coq0dm6m5gvvam0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554310136699-6gajjvc85vroda88coq0dm6m5gvvam0f</string>
	<key>API_KEY</key>
	<string>AIzaSyAu6wVmowqzhAfqBxFJgGWGLvYAqb34e5w</string>
	<key>GCM_SENDER_ID</key>
	<string>554310136699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ezcoding.datum</string>
	<key>PROJECT_ID</key>
	<string>datum-34da8</string>
	<key>STORAGE_BUCKET</key>
	<string>datum-34da8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554310136699:ios:766ae5f833baca598fc3de</string>
</dict>
</plist>